<!--features section-->
+section("features", "features", "Почему стоит  работать с нами")
    .features__wrap.slider
        .slider__ctrl
            .arrows
                a(href="#", data-attr="prevSlide").arrows__item.left
                a(href="#", data-attr="nextSlide").arrows__item.right
            .counter
                span.num 0
                |/
                span.amount 0
        ul.features__list
            -
                var list = [
                    {
                        title: "У нас есть<br> скидки",
                        text: "Мы готовы сделать Вам лучшее предложение среди конкурентов"
                    },
                    {
                        title: "Контроль<br> сроков",
                        text: "Сроки работы по проекту и ремонту прописаны в договоре. Мы оплатим каждый день просрочки Вашего проекта"
                    },
                    {
                        title: "Гарантия на ремонт 36 месяцев",
                        text: "Гарантийный срок по договору на ремонт составляет 36 месяцев"
                    },
                    {
                        title: "Нас<br> рекомендуют",
                        text: "Более 60% наших новых клиентов – рекомендации"
                    },
                    {
                        title: "Опытная<br> и разносторонняя  команда",
                        text: "С Вами работает вся наша команда: дизайнеры, инженеры, менеджер"
                    },
                    {
                        title: "Работа под<br> ключ",
                        text: "Ведем Ваш проект от разработки чертежей до окончания ремонта"
                    },
                    {
                        title: "Подстраиваемся<br> под Ваш бюджет",
                        text: "Подберем оптимальные варианты, спланируем расходы"
                    }
                ]
            each item in list
                li.features__item
                    h4.features__title !{item.title}
                    p.features__desc=item.text
        .features__media
            .features__img(style="background: url(img/feats-bg-1.png) bottom left no-repeat")
            .features__img(style="background: url(img/feats-bg-2.png) top left no-repeat")
<!--end features section-->