footer.footer
    .container
        .footer__menu.inner
            .footer__b.footer__adress
                p Москва,ул. Народного ополчения, д. 34, ст. 3 
                a(href="tel:+7 495 119-73-76") +7 495 119-73-76
            .footer__b.footer__socials
                +social(["vk", "insta", "share"])
            .footer__b._copy
                .copyright © Арт-Проф, 2019
            .footer__b.policy
                p
                    a(href="#") Соглашение 
                    |на обработку персональных данных 
                    a(href="#") политика конфиденциальности
            .footer__b.prod                
                span.prod__text Сделано в
                img(src="img/star.png", alt="prod")