header.header.wow.fadeInDown(data-wow-delay="2s", data-wow-duration="0.6s")
    .container
        .header__menu
            .header__b._left.header__logo
                .logo
                    img(src="img/logo-mobile.png", alt="logo")
            .header__b.inner
                a(href="tel:+7 495 119-73-76") +7 495 119-73-76
            .header__b._right
                a.pen(href="#", class="js-modal" data-target="modalDream") 
                    span.pen__text Сделать мечту реальностью
                button.header__toggle(class="js-toggle", data-target="sidebar")
                    img(src="img/icon-menu.svg", alt="menu")
        .header__menu.mobile.fixed
            .header__b._right
                a.pen(href="#", class="js-modal" data-target="modalDream") 
                    span.pen__text Сделать мечту реальностью
                a.phone(href="tel:+7 495 119-73-76", data-href="+7 495 119-73-76")