<!--office section-->
+section("office", "get office", "Давайте встретимся", "В нашем уютной обстановке мы сможем обсудить ваш проект вместе с дизайнерами и начать осуществлять вашу мечту уже сейчас")
    .office__img(style="background: url(img/office.png) top left/cover no-repeat")
    +get("getOffice")
<!--end office section-->