//- price block
mixin rate(className, title, meta, desc, modClass)
    .rate(class=`${className} ${modClass}`)
        .rate__head.js-toggle-slide(class=((className === "comfort") ? "active" : false))
            h3.rate__title=title
            p.rate__meta=meta
            p.rate__desc=desc
        .rate__body(data-attr="tab")
            .rate__step
                h5 1 этап
                p Замер помещения
                p Интервью с клиентом
                p 2 варианта планировки
            .rate__step
                h5 2 этап
                p 3D визуализации всех помещений
            if className === "comfort" || className === "premium"
                .rate__step
                    h5 3 этап
                    p Рабочие чертежи
                    p Спецификация мебели и материалов
        .rate__footer
            if className === "comfort" || className === "premium"
                if className === "comfort"
                    p.rate__bonus Спецификация мебели и материалов
                else
                    p.rate__bonus Выезды в магазин с дизайнером
                    p.rate__bonus Расширенный комплект чертежей
            button.btn.btn--1.rate__btn.js-modal(data-target="modalCall") Заказать
<!--price section-->
section#price.section.price.wow.fadeInLeftBig(data-wow-duration="0.6s")
            .container
              .inner
                .section__heading.wow.fadeInUp(data-wow-delay="0.6s")
                  h2.section__title Выберите план
                  p.section__desc
                    |Стоимость дизайн-проекта вам поможет рассчитать наш менеджер, 
                    br
                    |минимальная стоимость проекта 131000 рублей
                .section__b
                    .price__list
                        .price__item
                            +rate("express", "Экспресс", "870 руб.м2", "Бюджетное решение для тех, кому важно важно быстрое решение по зонированию пространства и расстановке мебели", "")
                        .price__item
                            +rate("comfort", "Комфорт", "1870 руб.м2", "Готовое решение с решением по цвету, где подбираем мебель во всем пространстве", "hit")
                        .price__item
                            +rate("premium", "Премиум", "2870 руб.м2", "Кому важен премиальный выбор и кто готов доверить нам полностью проект под ключ", "")
