<!-- review -->
+section("review", "review", "Клиенты говорят", false)
    .review__b.slider        
        .slider__ctrl
            .arrows
                a(href="#", data-attr="prevSlide").arrows__item.left
                a(href="#", data-attr="nextSlide").arrows__item.right
            .counter
                span.num 0
                |/
                span.amount 0
        .review__list
            .review__item
                +team("г.Королев, 86 кв.м2", "Виктория  Иванова", "client1", "«От консультации получила сильно больше, чем ожидала»", "Спасибо коллективу АРТПРОФ за проект. Когда записалась на консультацию, думала просто ближе познакомиться со студией, узнать об этапах работы, подходе. Но я получила сильно больше. Благодаря простой игре, затеянной Екатериной, мы определили стили интерьеров, которые мне подходят.")
            .review__item
                +team("Горки - 10, 86 кв.м2", "Нина  Фёдорова", "client2", "«Екатерина присылала коллажи, советовалась, учла каждую мелочь»", "Доверила студии АРТПРОФ дизайн интерьера загородного дома. Несколько раз корректировали работу по нашему желанию. Екатерина присылала коллажи, советовалась. Учла каждую мелочь. Результат нас очень порадовал, получилось именно то, о чем всегда мечтали. По качеству работы мне все понравилось, месяц назад завершили ремонтные работы. Обращалась по акции: приятно удивил подарок. Будем рекомендовать друзьям и знакомым.")
            .review__item
                +team("Чистые пруды, 56 кв.м2", "Алексей Осташенко", "client3", "«Очень порадовало желание понять мои пожелания, вкусы, предпочтения.»", "Доволен результатом - разработан хороший проект малогабаритной квартиры 56 м2. Было несколько трудностей в планировке. Решение, предложенное Марией, мне подошло. Несколько раз вносили изменения, уточнения, наши замечания терпеливо и доброжелательно обсуждались, предложения Марии были продуктивны и рациональны, в то же время с сохранением единой концепции.")
            .review__item
                +team("г.Электросталь, 250 кв.м2", "Ольга Воронкова", "client4", "«Интерьер получился лучше, чем мы предполагали.»", "Заказали дизайн проект в процессе строительства нашего коттеджа, на постоянное место жительства. Для нас было важно грамотное расположение мебели и сантехники. Наш дом должен быть уютным, светлым, с яркими акцентами.")
            .review__item
                +team("г.Электросталь, 250 кв.м2", "Ольга Воронкова", "client4", "«Интерьер получился лучше, чем мы предполагали.»", "Заказали дизайн проект в процессе строительства нашего коттеджа, на постоянное место жительства. Для нас было важно грамотное расположение мебели и сантехники. Наш дом должен быть уютным, светлым, с яркими акцентами.")
            .review__item
                +team("г.Электросталь, 250 кв.м2", "Ольга Воронкова", "client4", "«Интерьер получился лучше, чем мы предполагали.»", "Заказали дизайн проект в процессе строительства нашего коттеджа, на постоянное место жительства. Для нас было важно грамотное расположение мебели и сантехники. Наш дом должен быть уютным, светлым, с яркими акцентами.")
<!-- END: review -->