aside.sidebar.wow.fadeInLeftBig(data-id="sidebar")
    a(href="javascript:;", title="Закрыть").close
    .sidebar__logo
        a.logo(href="#")
            img(src="img/logo.png", alt="logo")
        a.logo-mobile(href="#")
            img(src="img/logo-mobile.png", alt="logo")
    nav.sidebar__nav
        ul.sidebar__list
            each item, ndx in [{id: "projects", text: "Проекты"}, {id: "team", text: "Команда"}, {id: "price", text: "Цены"}, {id: "steps", text: "Как мы работаем"}, {id: "contact", text: "Контакты"}]
                li.sidebar__item
                    a.sidebar__link.js-anchor(href=`#${item.id}`, class=((ndx === 1) ? "active" : false))=item.text
    .sidebar__social
        +social(["vk", "insta", "share"])
    .sidebar__adress
        a(href="tel:+7 495 119-73-76") +7 495 119-73-76
        a(href="mailto: info@group-prof.ru") info@group-prof.ru
        p Москва,ул. Народного ополчения, д. 34, ст. 3 
    .sidebar__btn
        +btnLink("#", "Заказать дизайн", "btn--2 js-modal", "modalCall")