<!--steps section-->
+section("steps", "steps", "Всего пять этапов", "Весь процесс делится на этапы. Новый этап не начинается, пока не<br> закончится предыдущий и не будет получен положительный<br> результат. Оплата осуществляется поэтапно после сделаной работы.")
    .steps__b
        .steps__list.type-1
            -
                var items = [
                    {title: "Концепция", desc: "Знакомимся с вами и квартирой - Едем на замеры- Узнаем ваши пожелания: проводим интервью, узнаем образ жизни, интересы и увлечения - Предлагаем несколько вариантов планировочных решений"},
                    {title: "Визуализация", desc: "Визуализируем идеи – Показываем как будет выглядеть ваш будущий интерьер - варианты планировок с учетом ваших пожеланий и возможностей пространства."},
                    {title: "Спецификация", desc: "Готовим коплект рабочей документации для строителей и выдаем спецификацию всего что есть в проекте."},
                    {title: "Ремонт", desc: "Уже через 2 недели после начала проекта мы готовы предоставить точные расчеты по стоимости работ и черновых материалов."},
                    {title: "Комплектация", desc: "За годы работы мы собрали уникальную библиотеку образцов, благодаря которой быстро и качественно подбираем все необходимые чистовые материалы и мебель для реализации Вашего дизайн-проекта."},
                    ]
            each item, i in items
                if i < 3
                    .steps__item
                        .steps__num= i+1
                        h4.steps__title=item.title
                        p.steps__desc=item.desc
        .steps__order
            span или 
            a(class="js-modal", href="#", data-target="modalDream") закажите<br> ремонт
            span  и получите<br> дизайн-проект в подарок
        .steps__list.type-2
            each item, i in items
                if i >= 3
                    .steps__item
                        .steps__num= i+1
                        h4.steps__title=item.title
                        p.steps__desc=item.desc
        .steps__footer
            +btnLink("#", "Заказать дизайн", "btn--1 js-modal", "modalCall")
<!--end steps section-->