doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='format-detection', content='telephone=no')
        meta(http-equiv='x-rim-auto-match', content='none')
        link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='img/logo-mobile.png', type='image/x-icon')
        link(rel='stylesheet', type='text/css', href='libs/normalize.css')
        link(rel='stylesheet', type='text/css', href='libs/slick/slick.css')
        link(rel='stylesheet', type='text/css', href='libs/slick/slick-theme.css')
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        link(href='libs/fancybox-master/jquery.fancybox.min.css', rel='stylesheet', type='text/css')
        link(rel="stylesheet" href="libs/animate.css")
        link(href='css/styles.css', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='libs/jquery-3.3.1.min.js')
        script(type='text/javascript', src='libs/slick/slick.min.js')
        script(type='text/javascript', src='libs/jquery.inputmask.bundle.js')
        script.
            $(document).ready(function(){
                $('[type=tel]').inputmask({mask: "+7 [999 999-9999]", greedy: false});
            });
        script(type='text/javascript', src='libs/fancybox-master/jquery.fancybox.min.js')
        script(src="libs/wow.min.js")
        script.
            /*FIX*/ //- new WOW().init();
        script(src="https://cdn.jsdelivr.net/npm/vue")
        script(type='text/javascript', src='js/scripts.js')
        block head        
    body
        include includes/mixins
        .wrapper            
            .bg-lines.container                
                span.bg-lines__line
                span.bg-lines__line
                span.bg-lines__line
                span.bg-lines__line
                span.bg-lines__line
                span.bg-lines__line
            include includes/header
            .main
                .workarea
                    block content
            include includes/footer
            block modal
