extends ../layout
block head
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
block content
    //- section default
    mixin section(id, className, title, desc)
        section.section.wow.fadeInLeftBig(id=id, class=className, data-wow-duration="0.6s")
            .container
                .inner
                    .section__heading.wow.fadeInUp(data-wow-delay="0.6s")
                        h2.section__title !{title}
                        if desc
                            p.section__desc !{desc}
                    .section__b
                        block

    //- .main__heading.wow.fadeInLeftBig(data-wow-delay="1s", data-wow-duration="0.6s")
    //-     .container
    //-         .inner
    //-             h1.main__title Готовый дизайн интерьера за 8 недель
    section#banner.section.banner
        .container
            .banner__wrap
                include ../includes/sidebar
                .inner.wow.fadeInUp
                    +favProject([{name: "project-4"}, {name: "project-1"}, {name: "project-2"}, {name: "project-3"}], "_main")
                .banner__b._right
    section#premium.section.premium.wow.fadeInLeftBig(data-wow-duration="0.6s")
        .container
            .inner
                .section__heading.wow.fadeInUp(data-wow-delay="0.6s", data-wow-duration="0.6s")
                    h2.section__title Премиальный сервис<br> каждому клиенту
                    p.section__desc._w25per Любой интерьер мечты начинается<br> с чёткого чертежа обмерного плана
                .section__b
                    .premium__b
                        .premium__info
                            .premium__feature
                                p.text Более
                                p.text.lg
                                    span.text__lg 15 
                                    span лет<br> опыта
                            .premium__feature
                                p.text Более
                                p.text.lg
                                    span.text__lg 10000м<sup>2</sup> 
                                    span реализованных<br> проектов
                            .premium__media
                                .premium__img.js-youtube-video(data-src="https://www.youtube.com/embed/CSehGrk48TQ")
                                    .icon-play
                                    img(src="img/youtube-img.png", alt="youtube-video")
                                    .overlay
                            .premium__text
                                p.
                                    Мы команда опытных дизайнеров, которые создают интеллектуальную красоту. Вы могли видеть их в AD, Elle Decoration, Interni, Roomble, InMyRoom. Активно делимся опытом: выступаем с лекциями, преподаем в ВШЭ, организовываем выставки. Верим, что лучшая жизнь начинается с хорошего дизайна.
                            +btnLink("#", "Заказать дизайн", "btn--1 js-modal", "modalCall")
                        .premium__media
                            .premium__img.js-youtube-video(data-src="https://www.youtube.com/embed/CSehGrk48TQ")
                                .icon-play
                                img(src="img/youtube-img.png", alt="youtube-video")
                                .overlay
    //- team
    +section("team", "team", "Наша команда", false)
        .team__slider.slider
            .slider__ctrl
                .arrows
                    a(href="#", data-attr="prevSlide").arrows__item.left
                    a(href="#", data-attr="nextSlide").arrows__item.right
                .counter
                    span.num 0
                    |/
                    span.amount 0
            .team__list
                .team__person._1
                    +team("Директор и основатель Aрт-Проф", "Элина Богомолова", "team1", "Разбирается в ремонте лучше всех на рынке", "«Наш главный принцип —сделать тот проект и ремонт, который нужен именно Вам»")
                .team__person._2
                    +team("Ведущий дизайнер", "Дарья Косачева", "team2", "Болеет за клиента до последнего", "«Для меня важно найти общий язык с заказчиком именно это будет для меня главным инструментом в работе над индивидуальным дизайн-проектом.»")
                .team__person._3
                    +team("Ведущий дизайнер", "Юлия Боброва", "team3", "Добивается результата в самых сложных ситуациях", "«Главная цель моей работы —создать безупречный дизайн-проект для заказчика. Это колоссальная работа, которая начинается с чёткого чертежа обмерного плана.»")
                .team__person._4
                    +team("Менеджер по работе с клиентами", "Анастасия Абрамова", "team4", "Считает что помогая людям делает мир лучше", "«Каждый клиентдля нас – особенный. Индивидуальный подход помогает нам создавать лучшие дизайн-проекты»")
        .quote
            blockquote.quote__text
                |Арт-Проф - это 15 лет опыта, более 300 ремонтов, собственная команда дизайнеров и огромный практический опыт в ремонте.
            .quote__author — Виктор Руснак, директор и основатель Арт-Проф
    //- projects
    +section("projects", " projects", "Избранные работы", "Мы не делаем больше 5-6 проектов одновременно. Для нас<br> важно уделить каждому клиенту максимум внимания.")
        .projects__list
            +favProject([{name: "project-1", title: "Спальная комната"}, {name: "project-3", title: "Детская спальня"}, {name: "project-2", title: "Гостиная"}], "_1", "Квартира на Ленинском проспекте, 110 М²")
            +favProject([{name: "project-3", title: "Спальная комната"}, {name: "project-2", title: "Детская спальня"}, {name: "project-1", title: "Гостиная"}], "_2", "Таунхаус  в Красногорске, 160 М2")
            +favProject([{name: "project-2", title: "Спальная комната"}, {name: "project-1", title: "Детская спальня"}, {name: "project-3", title: "Гостиная"}], "_3", "Квартира на Водном стадионе, 95 М2")
        .projects__btn._more
            +btnLink("#", "Показать еще работы", "btn--2 js-more", false)
    //- get 1
    +section("get1", "get _bg", "Хочу получить каталог проектов на почту", "Заполните форму, мы вышлем вам полный каталог проектов в<br> формате *.pdf на электронную почту. Наш менеджер перезвонит вам, что бы<br> убедится что вы ее получили. Заявка ни к чему вас не обязывает.")
        +get("get1")
    include ../includes/features.pug
    include ../includes/steps.pug
    //- get 2
    +section("get2", "get _bg", "Расскажите нам о вашем проекте", "<span>Мы подготовим для вас интересное предложение, либо<br> звоните <a href='tel:+7 495 119-73-76'>+7 495 119-73-76</a> обсудим проект вместе</span>")
        +get("get2")
    include ../includes/price.pug
    include ../includes/review.pug
    //- brands
    +section("brands", "brands", "Нам доверяют")
        ul.brands__list
            each item in ["brand1", "brand2", "brand3", "brand4", "brand5", "brand6"]
                li.brands__item
                    img(src=`img/${item}.png`, alt=img)
    include ../includes/office.pug
    //- contact
    +section("contact", "contact", "Контакты")
        .contact__list
            .contact__item
                p.contact__text Звоните
                a.contact__value(href="tel: +7 495 119-73-76") +7 495 119-73-76
            .contact__item
                p.contact__text Пишите
                a.contact__value(href="mailto: info@group-prof.ru") info@group-prof.ru
            .contact__item
                p.contact__text Приезжайте
                .contact__value Москва, ул. Народного ополчения, д. 34, ст. 3
        .contact__map
            #map
    //- get 3
    +section("get3", "get _bg", "Задайте вопрос профессионалам", "Хватит гуглить, задайте вопрос тем, кто занимется дизайном и ремонтом каждый<br> день. Вы получите исчерпывающий ответ от профессионалов намного быстрее и<br> удобным вам пособом")
        +get("get3")
    section.section.start.wow.fadeInLeftBig
        .container
            .inner
                a.start__link(class="js-modal", href="#", data-target="modalDream") Начать проект     
block modal
    +modal("Dream", "first")
    +modal("Call", "second")
    +modal("Success", "success")
    +modal("Error", "error")
    <script src="https://yastatic.net/share2/share.js" async="async"></script>
    script.
        //map
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [55.765, 37.645],
                zoom: 15,
                controls: []
            }),
            points = [{
                center: [55.765, 37.645],
                name: "<p>Группа компаний ПРОФ</p>",
                disc: "<p>Описание</p>"
                }
            ];
            collection = new ymaps.GeoObjectCollection();

            for (var i = 0, l = points.length; i < l; i++) {
                createPointsGroup(points[i]);
            }

            function createPointsGroup(item, block) {
                // создание метки.
                var placemark = new ymaps.Placemark(item.center, {
                    balloonContentHeader: item.name,
                    balloonContentBody: item.disc,
                }, {
                    iconContentLayout: 'default#redIcon',
                    iconColor: 'red'
                });

                // добавить в коллекцию.
                collection.add(placemark);
            }
            myMap.geoObjects.add(collection);
        }
