extends ../layout
block content
    section.section
        .container
            h4(style="text-decoration: underline;") Типографика
            h1 Готовый дизайн интерьера за 8 недель
            h2 Премиальный сервис каждому клиенту 
            h3 Дарья Косачева
            h4 Квартира на Ленинском  проспекте, 110 М²
            h5 Спальная комната
            p 
                |Заполните форму, мы вышлем вам полный каталог проектов в формате *.pdf на электронную почту. Наш менеджер перезвонит вам, что бы убедится что вы ее получили. Заявка ни к чему вас не обязывает.
            a(href="#") Link Regular 16 pt
            a(href="#").active Link Regular 16 pt
            h4(style="text-decoration: underline;") Кнопки
            +btnLink("#", "Начать проект", "btn--1")
            +btnLink("#", "Начать проект", "btn--2")
            +btnLink("#", "Заказать звонок", "btn--2 js-modal", "modalCall")
            +btnAttach("Прикрепить файл не более 10 Мб", "")
            a(href="tel: +7 495 119-73-76") +7 495 119-73-76
            a(href="mailto: info@group-prof.ru") info@group-prof.ru
            h4(style="text-decoration: underline;") Input
            form(action="./ui.html", method="post", class="form")
                +input("text", "form__input", "Имя", "name1")
                +input("email", "form__input required error", "E-mail", "name2")
                +btnSubmit("Отправить каталог", "btn--1")
            h4(style="text-decoration: underline;") Social
            - var socials = ["vk", "insta", "share"]
            +social(socials)
            h4(style="text-decoration: underline;") CheckGroup
            +checkGroup(["Позвонить", "На почту", "WhatsUp"], 1)
            h4(style="text-decoration: underline;") Форма для карандаша
            +modal("Dream", "first")
            +modal("Call", "second")
            +modal("Success", "success")
            h4(style="text-decoration: underline;") Избранные работы
            //- +favProject(["project-1", "project-2"], "_main")
            //- +favProject(["project-3", "project-2"])
            +favProject([{name: "project-1", title: "Спальная комната"}, {name: "project-3", title: "Детская спальня"}, {name: "project-2", title: "Гостиная"}], "_1", "Квартира на Ленинском проспекте, 110 М²")
            +favProject([{name: "project-3", title: "Спальная комната"}, {name: "project-2", title: "Детская спальня"}, {name: "project-1", title: "Гостиная"}], "_2", "Таунхаус  в Красногорске, 160 М2")
            +favProject([{name: "project-2", title: "Спальная комната"}, {name: "project-1", title: "Детская спальня"}, {name: "project-3", title: "Гостиная"}], "_3", "Квартира на Водном стадионе, 95 М2")
            +favProject([{name: "project-1", title: "Спальная комната"}, {name: "project-3", title: "Детская спальня"}, {name: "project-2", title: "Гостиная"}], "_4", "Квартира на Ленинском проспекте, 110 М²")
            +favProject([{name: "project-3", title: "Спальная комната"}, {name: "project-2", title: "Детская спальня"}, {name: "project-1", title: "Гостиная"}], "_5", "Таунхаус  в Красногорске, 160 М2")
            +favProject([{name: "project-2", title: "Спальная комната"}, {name: "project-1", title: "Детская спальня"}, {name: "project-3", title: "Гостиная"}], "_6", "Квартира на Водном стадионе, 95 М2")