/*features*/
.features {
    .section__title {
        max-width: 50%;
    }

    &__wrap {
        display: flex;
    }

    &__list {
        width: 100%;
        flex: 1 1 auto;
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding-right: 8px;
        padding-top: 120px;
    }

    &__item {
        width: 100%;
        flex: 1 1 auto;
        max-width: 50%;
        padding-right: 25px;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__media {
        width: 100%;
        flex: 1 1 auto;
        max-width: 50%;
        font-size: 0;
    }

    &__img {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        max-width: 50%;
    }

    .slider {
        &__ctrl {
            display: none;
            top: auto;
            right: auto;
            left: -21px;
            bottom: -50px;
            transform: none;
        }
    }
}