/*fix*/
.favproject._main {
    .slider__ctrl {
        top: 625px;
        transform: none;
    }
}

@media screen and (max-width: 1365px) {
    .favproject._main .slider__ctrl {
        top: auto;
        bottom: 0px;
    }
}

@media screen and (max-width: 1023px) {
    .favproject._main .slider__ctrl {
        bottom: 0;
    }
}

@media screen and (max-width: 719px) {
    .favproject._main .slider__ctrl {
        bottom: -80px;
    }
}

/*31-01*/
@media screen and (max-width: 719px) {
    .modal__content--error {
        padding-top: 50px;

        .error__message {
            padding-left: 120px;

            p {
                margin-right: 0;
            }
        }
    }
}

/*01-02*/
.steps {
    &__list {
        display: table;
    }

    &__item {
        &:first-child {

            &::before {
                line-height: 0.3;
            }
        }
    }
}

/*27-02*/
.person {
    &__name {
        font-size: 36px;
    }
}

@media screen and (min-width: 1366px) {
    .team {

        &__list {
            grid-template-columns: repeat(4, minmax(25%, 1fr));
        }
    }
}

// @media screen and (min-width: 1366px) and (max-width: 1500px) {
//     $personWidth: 308px;
//     .team {
//         &__list {
//             gap: 20px;
//         }

//         &__person {
//             width: $personWidth;
//             &._1 {
//                 margin-right: -155px;
//             }
//         }
//     }
// }