/* Styling footer */
.footer {
    padding: 60px 0 0;
    width: 100%;

    a[href*="tel:"],
    a[href*="mailto:"] {
        font-size: 16px;
        line-height: 28px;
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
    }

    &__b {
        width: 100%;
        flex: 1 1 auto;
        max-width: 50%;
        margin-bottom: 60px;

        &._copy {
            align-self: flex-end;
        }

        &.policy,
        &.prod {
            max-width: 25%;
        }

        &.prod {
            text-align: right;

            .prod__text {
                display: inline-block;
                vertical-align: bottom;
                margin-bottom: 6px;
                margin-right: 6px;
            }
        }
    }
}

/* END Styling footer */