/* Styling header */
.header {
    width: 100%;

    &__menu {
        display: flex;
        align-items: flex-end;

        &.mobile.fixed {
            display: none;
            position: fixed;
            top: 60vh;
            right: 0;
            width: 61px;
            height: 144px;
            background-color: #f7f7f7;
            z-index: 100;

            .header__b {
                text-align: center;
            }

            .phone {
                display: inline-block;
            }

            .header__logo,
            .inner,
            .pen__text {
                display: none;
            }

            .pen {
                width: 100%;
                background: url(../img/icon-pen.png) left 18px bottom no-repeat;
                margin-bottom: 30px;
            }

            .phone {
                width: 100%;
            }
        }
    }

    &__b {
        flex: 1 1 auto;

        &.inner {
            text-align: right;
            max-width: none;
        }

        &._right {
            width: 100%;
            max-width: 320px;
            text-align: right;
        }

        &._left {
            width: 100%;
            max-width: 320px;
        }
    }

    &__logo {
        padding-left: 60px;
    }

    .phone {
        display: none;
    }

    &__toggle {
        width: 26px;
        height: 26px;
        display: none;
        appearance: button;
        cursor: pointer;
        background: transparent;
        padding: 0;
        img {
            width: 100%;
        }
    }

}

/* END Styling header */