/* Styling main */
$sidebarWidth: (100%/6);

.inner {
    max-width: 66.6%;
    margin-left: $sidebarWidth;
}

.main {
    &__heading {
        width: 100%;
    }

    &__title {
        max-width: 960px;
        letter-spacing: -5px;
        line-height: 0.8;
        margin-bottom: 50px;
    }
}

/*sidebar*/
.sidebar {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #fff;

    .logo-mobile {
        display: none;
    }

    &__adress {
        display: none;

        p {
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 700;
        }
    }

    &.is-open {
        display: flex !important;
        width: 100% !important;
        max-width: 100% !important;
        top: 0;
        left: -100%;
        background-image: url(../img/icon-pen-sidebar.png);
        background-repeat: no-repeat;
        background-position: top 20% right;
        overflow: hidden;
        overflow-y: auto;
        z-index: 500;
        padding-top: 10px;

        .logo,
        .sidebar__social {
            display: none;
        }

        .logo-mobile,
        .sidebar__adress {
            display: block;
        }

        .sidebar__nav,
        .sidebar__social,
        .sidebar__logo,
        .sidebar__adress {
            padding-left: 30px;
        }

        a[href*="tel:"],
        a[href*="mailto:"] {
            display: block;
            color: #005de9;
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .sidebar__btn {
            padding-left: 30px;
            padding-bottom: 30px;
        }
    }

    .close {
        display: none;
        position: absolute;
        top: 19px;
        right: 19px;
        background: url(../img/icon-close-black.png) center no-repeat;
    }

    &__nav,
    &__social,
    &__logo {
        padding-left: 60px;
    }

    &__social {
        margin-bottom: 20px;

        ul {
            display: block;

            li {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }
    }

    &__list {
        &:not(:last-child) {
            margin-bottom: 20px;
        }


        li {
            &:not(:last-child) {
                margin-bottom: 40px;
            }

            a {
                display: block;
                color: #000000;
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 500;

                &:hover,
                &.active {
                    color: #b9081e;
                }
            }
        }
    }
}

/*content*/
.content {
    width: 100%;
    max-width: calc(100% - #{$sidebarWidth});
}

.section {
    width: 100%;
    padding: 0 0 80px;

    &._bg {
        background-color: #f8f3f3;
        .inner {
            padding-left: 15px;
        }
    }

    padding: 80px 0;

    &__desc {
        width: 100%;
        max-width: 50%;
        margin-left: auto;

        &._w25per {
            max-width: 25%;
        }
    }

    &__heading {
        margin-bottom: 60px;
    }

    &__title {
        margin-bottom: 45px;
    }
}

.banner {
    padding: 0 0 155px;

    &__wrap {
        position: relative;

        .sidebar {
            width: $sidebarWidth;
            max-width: 320px;
            position: fixed;
            top: 0;
            z-index: 100;
            border-right: 1px solid rgba(0, 0, 0, .08);
            border-left: 1px solid rgba(0, 0, 0, .08);
        }
    }
}

.projects {
    .favproject {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__btn {
        &._more {
            text-align: center;
            margin-top: 50px;
        }
    }
}

.team {
    &__slider {
        position: relative;
        margin-bottom: 160px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &:focus {
            outline: none;
        }
    }

    &__person {
        margin-bottom: 25px;

        &._1 {
            grid-column: 1;
            grid-row: 1;
        }

        &._2 {
            grid-column: 3;
            grid-row: 1;
            margin-top: 100px;
        }

        &._3 {
            grid-column: 2;
            grid-row: 2;
        }

        &._4 {
            grid-column: 4;
            grid-row: 2;
        }
    }

    .slider__ctrl {
        display: none;
        top: auto;
        left: 0;
        bottom: 0;
        right: auto;
        transform: translate(0)
    }
}

.get {
    .section__title {
        color: #000000;
        max-width: 50%;
        letter-spacing: -3px;
        line-height: 48px;
    }

    .form {
        &__title {
            margin-bottom: 40px;
        }

        &__footer {
            button {
                margin-right: 30px;
            }
        }

        &__note {
            display: inline-block;
            vertical-align: top;
            margin-top: 0;
        }

        .attach {
            margin-bottom: 40px;
        }
    }

    .cgroup {
        &__list {
            margin-bottom: 60px;
        }
    }
}

.contact {
    &__list {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__item {
        max-width: 50%;

        &:nth-child(even) {
            margin-left: auto;
        }
    }

    &__text {
        font-family: "Montserrat";
        font-size: 16px;
    }

    &__value {
        color: #000000;
        font-family: "Montserrat";
        font-size: 45px;
        font-weight: 700;
        line-height: normal;
    }

    a[href*="tel:"],
    a[href*="mailto:"] {
        @extend .contact__value;

        &:hover {
            color: #0061e8;
        }
    }

    &__map {
        height: 470px;

        #map {
            height: 100%;
        }
    }
}

.premium {
    &__b {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 100%;
            flex: 1 1 0%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 25%;
        padding-top: 45px;
    }

    &__media {
        height: 485px;
        .premium__info & {
            display: none;
        }
    }

    &__img {
        position: relative;
        height: 100%;
        overflow: hidden;
        cursor: pointer;

        &>* {
            transition: 0.3s;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }

        .icon-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            background: url(../img/icon-play.png) center/cover no-repeat;
            z-index: 10;
        }

        &:hover {
            .overlay {
                background-color: rgba($color: #000000, $alpha: 0.2);
            }

            .icon-play {
                width: 60px;
                height: 60px;
            }
        }
    }

    &__feature {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        p {
            font-family: "Montserrat";
            font-weight: 700;
            line-height: 1;
        }

        .text {
            span {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 5px;
                    margin-bottom: 10px;
                }
            }

            &.lg {
                font-size: 16px;
                font-weight: 800;
                line-height: 0.7;
            }

            &__lg {
                font-size: 45px;
                white-space: nowrap;
            }
        }
    }

    &__text {
        flex: 1 1 auto;
        padding-right: 15px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

@import "price";
@import "features";
@import "steps";
@import "review";

/* Styling brands */
.brands {
    padding-bottom: 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        width: 100%;
        flex: 0 0 auto;
        max-width: 25%;
        margin-bottom: 50px;

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

/* END Styling brands */
@import "office";

/* Styling start section */
.start {
    &__link {
        display: block;
        color: black;
        font-family: "Montserrat";
        font-size: 240px;
        font-weight: 900;
        line-height: 1;
        background: url(../img/icon-pen-xl.png) top -140px right -320px/50% no-repeat;
        padding-top: 230px;
        padding-left: 13%;

        &:hover {
            color: #919191;
        }
    }
}

/* END Styling main */