/* Styling Media */
@media screen and (max-width: 1919px) {
    $sidebarWidth: (100%/6);
    $sidebarPaddingLeft: 25px;
    $btnWidth: 16.5vw;
    $formBodyWidth: 640px;

    .inner {
        max-width: $sidebarWidth*4;
        margin-left: $sidebarWidth;
    }

    /*header*/
    .header {
        &__b {

            &._right,
            &._left {
                width: 100%;
                max-width: $sidebarWidth;
            }
        }


        &__logo {
            padding-left: $sidebarPaddingLeft;
        }

        &.fixed {
            right: 0;
        }

        &__menu {
            &.mobile {
                .header__b {
                    max-width: none;
                }
            }
        }
    }

    /*footer*/
    .footer {
        .inner {
            width: auto;
            margin-left: $sidebarWidth;
        }
    }

    /*sidebar*/
    .sidebar {
        width: $sidebarWidth;

        &__nav,
        &__social,
        &__logo {
            padding-left: $sidebarPaddingLeft;
        }
    }

    /*/sidebar*/

    .content {
        width: 100%;
        max-width: calc(100% - #{$sidebarWidth});
    }

    .section {
        &__heading {
            margin-bottom: 45px;
        }

        &__desc {
            max-width: none;
            display: flex;
            justify-content: flex-end;
            padding-right: 50px;

            &._w25per {
                max-width: none;
            }
        }
    }

    .form {
        &__body {
            max-width: $formBodyWidth;
        }
    }

    /*banner*/
    .banner {
        padding: 0 0 65px;

        .sidebar {
            width: $sidebarWidth;
        }
    }

    /*end banner*/
    /*premium*/
    .premium {
        &__info {
            max-width: 30%;
        }

        &__text {
            padding-right: 40px;
        }

        .btn {
            width: $btnWidth;
            max-width: 100%;
        }
    }

    /*end premium*/
    /*features*/
    .features {
        &__list {
            max-width: 60%;
        }

        &__media {
            flex: 1 1 0%;
            max-width: 100%;
        }

        &__item {
            &:last-child {
                margin-bottom: 60px;
            }
        }

        &__title {
            line-height: 24px;
        }
    }

    /*end features*/
    /*price*/
    .price {
        padding-bottom: 40px;

        .rate__btn {
            display: block;
            width: $btnWidth;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*end price*/
    /*review*/
    .review {
        .slider__ctrl {
            right: 20%;

            .arrows__item {
                background: transparent url(../img/icon-arrow.png) center no-repeat;
            }
        }

        .section__heading {
            margin-bottom: 80px;
        }

        .person {
            padding-right: 50px;
        }
    }


    /*end review*/

    /*office*/
    .office {
        padding-bottom: 40px;

        .section__desc {
            display: block;
            max-width: 60%;
        }

        .form__desc {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding-right: 50px;
        }
    }

    /*end office*/
    /*contact*/
    .contact {
        padding-top: 40px;
    }

    /*end contact*/
    .favproject {

        &._main {
            .favproject__b {
                max-width: 40%;
                margin-left: 40%;
            }
        }
    }

    .slider__ctrl {
        right: 9%;
    }

    .projects {
        &__btn {
            &._more {
                .btn {
                    width: $btnWidth;
                    max-width: 100%;
                }
            }
        }
    }

    .start {
        &__link {
            background: url(../img/icon-pen-xl.png) top -120px no-repeat;
            background-size: auto;
            padding-left: 0;
        }
    }


    /*steps*/
    .steps {
        &__footer {
            .btn {
                width: $btnWidth;
                max-width: 100%;
            }
        }
    }

    /*end steps*/
}

@media screen and (max-width: 1500px) {
    .inner {
        max-width: none;
    }

    .brands__list {
        max-width: 80%;
    }

    /*footer*/
    .footer {
        &__b {
            &:nth-child(odd) {
                max-width: 40%;
            }

            &.policy {
                max-width: 40%;
            }

            &.prod {
                text-align: left;
                max-width: 20%;
            }
        }
    }

    /*end footer*/
}

@media screen and (max-width: 1365px) {
    $personWidth: 282px;

    .bg-lines {
        &__line {
            &:first-child {
                border-left: 1px solid rgba(0, 0, 0, 0.08);
            }
        }
    }

    .team {
        &__slider {
            width: $personWidth*2;
            margin: 0 auto;
        }

        &__list {
            display: block;
            padding-bottom: 40px;
            // margin-left: -20px;
            // margin-right: -20px;
        }

        &__person {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            max-width: $personWidth;
            padding-left: 20px;
            padding-right: 20px;

            &._2 {
                margin-top: 0;
            }
        }

        .slider__ctrl {
            display: block;
            bottom: 0;
            left: -20px;
        }
    }

    .person {
        &__img {
            max-width: 285px;
            height: 285px;
            padding-top: 0;
        }
    }

    .main {
        padding-top: 80px;
    }

    .main__title {
        margin-bottom: 20px;
        letter-spacing: -3px;
    }

    .sidebar {
        display: none;

        &__list {
            li {
                a {
                    white-space: nowrap;
                }
            }
        }

        &__btn {
            white-space: nowrap;
        }

        .close {
            display: block;
        }
    }

    .header {
        position: fixed;
        background-color: white;
        box-shadow: 0 3px 6.4px 0.6px #efefef;
        padding: 10px 0;
        z-index: 100;

        a[href*="tel:"],
        a[href*="mailto:"] {
            color: #0061e8;
            font-size: 18px;
            font-weight: 700;

        }

        &__menu {
            align-items: center;

            &.mobile.fixed {
                display: none !important;
            }

            .pen {
                display: none;
            }
        }

        &__logo {
            padding-left: 0;

            .logo {
                width: 41px;
                height: 36px;
            }
        }

        &__toggle {
            display: block;
        }

        &__b {
            &.inner {
                text-align: center;
            }

            &._left,
            &._right {
                width: auto;
                flex: 0 1 auto;
                max-width: none;
            }
        }
    }

    .inner {
        margin: 0 auto;
    }

    .container {
        padding: 0 40px;
    }

    .section {
        padding: 20px 0;

        &__title,
        &__heading {
            margin-bottom: 25px;
        }

        &__desc {
            justify-content: flex-start;
        }
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    h4 {
        font-size: 21px;
        line-height: 18px;
    }

    h5 {
        font-size: 16px;
    }

    .favproject {
        &._main {
            .favproject__slider {
                .slider__img {
                    margin-bottom: 15px;
                }
            }

            .favproject__wrap {
                justify-content: flex-start;
            }

            .favproject__b {
                max-width: 50%;
                margin-left: 0;
            }

            .favproject__caption {
                max-width: none;
            }

            .slider__ctrl {
                right: 0;
            }
        }

        &__btn {
            max-width: none;
        }

        &__caption {
            margin-bottom: 15px;
        }
    }

    /*premium*/
    .premium {
        &__info {
            max-width: 50%;
            padding-top: 0;
        }

        &__media {
            height: 220px;
        }

        &__img {
            img {
                width: 100%;
            }
        }

        &__feature {
            display: inline-block;
            vertical-align: top;
            width: 40%;

            .text {
                &.lg {
                    font-size: 14px;
                }

                &__lg {
                    font-size: 36px;
                }
            }
        }

        .section__title {
            max-width: 50%;
        }

        .section__desc {
            display: none;
        }

        &__text {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        .btn {
            max-width: none;
        }
    }

    /*end premium*/
    .footer .inner {
        margin-left: 0;
    }

    .section._bg .inner {
        padding-left: 0;
    }
}

@media screen and (max-width: 1023px) {

    .bg-lines {
        flex-wrap: wrap;

        &__line {
            max-width: 50%;
        }
    }

    .slider {
        &__ctrl {
            display: none;

            .arrows__item {
                background: transparent url(../img/icon-arrow.png) center no-repeat;
            }
        }

        &__img {
            height: 320px;
        }
    }

    .favproject {
        padding-bottom: 0;
        margin-bottom: 25px;

        &__b {
            order: 1;

            &._title {
                position: static;
                order: 0;
            }

            &._caption {
                margin-left: 0;
                max-width: none;
            }
        }

        &__slider {
            order: 1;
        }

        &._main {
            padding-bottom: 0;
            margin-bottom: 0;

            .slider__ctrl {
                display: block;
                top: 375px;
                transform: none;
            }
        }
    }

    .premium {
        .btn {
            width: 100%;
        }
    }

    .team {
        &__slider {
            width: 100%;
            max-width: 640px;
        }

        &__item {
            margin-left: 0;
            margin-right: 0;
        }

        &__person {
            max-width: 44%;
            padding-left: 0;
            padding-right: 0;
            margin-right: 34px;
        }
    }

    .quote {
        padding: 15px 0 20px;

        &__text {
            margin-bottom: 25px;
        }

        &__author {
            font-size: 14px;
        }
    }

    blockquote {
        font-size: 32px;
        line-height: 28px;
        padding: 0 20px;
    }

    .projects {
        padding-bottom: 40px;

        .favproject {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__btn {
            &._more {
                margin-top: 25px;

                .btn {
                    width: 100%;
                    max-width: 320px;
                }
            }
        }
    }

    .get {
        .section__title {
            max-width: none;
            line-height: 24px;
        }

        .section__heading {
            margin-bottom: 40px;
        }

        .form__footer {
            button {
                width: 100%;
                max-width: 50%;
                margin-right: -4px;
            }
        }

        .form__note {
            width: 100%;
            max-width: 50%;
            padding-left: 40px;
        }
    }

    .features {
        padding-top: 40px;

        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 10px;
        }

        &__desc {
            line-height: 18px;
        }

        &__list {
            padding-top: 0;
            max-width: none;
            padding-right: 0;
        }

        &__media {
            display: none;
        }

        &__item {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .steps {
        padding-bottom: 40px;

        &__num {
            font-size: 50px;
        }

        &__title {
            font-size: 24px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 40px;
            }

            &:nth-child(n) {
                max-width: none;
                text-align: left;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;

                &::before {
                    display: none;
                }
            }

            .steps__list.type-2 & {
                &:nth-child(n) {
                    max-width: none;
                    text-align: left;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        &__order {
            max-width: 300px;
        }

        &__footer {
            .btn {
                width: 100%;
                max-width: 320px;
            }
        }
    }

    .form {
        &__body {
            max-width: none;
        }
    }

    .price {
        padding: 50px 0;

        &__item {
            max-width: none;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .rate__btn {
            width: 100%;
            max-width: 320px;
        }
    }

    .rate {
        &__head {
            cursor: pointer;
        }

        &__title {
            font-size: 32px;
            font-weight: 700;
            line-height: 28px;

            display: inline-block;
            position: relative;
            padding-right: 40px;

            &::after {
                display: inline-block;
            }
        }

        &__meta {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
        }

        &__desc {
            line-height: 24px;
        }

        &__step {
            h5 {
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
            }
        }

        &__body {
            display: none;

            .rate.comfort & {
                display: block;
            }
        }
    }

    .review {
        .section__heading {
            margin-bottom: 30px;
        }

        &__item {
            &:nth-child(even) {
                padding-top: 0;
            }
        }

        .slider__ctrl {
            display: block;
            top: 100%;
            right: 100%;
        }

        .slider {
            margin-bottom: 50px;
        }
    }

    .brands {
        .section__heading {
            margin-bottom: 40px;
        }

        &__list {
            max-width: none;
        }

        &__item {
            max-width: 50%;
        }
    }

    .office {
        .section__heading {
            margin-bottom: 25px;
        }

        .section__desc {
            max-width: none;
        }

        .form__desc {
            max-width: none;
            justify-content: flex-start;
        }
    }

    .contact {
        &__value {
            font-size: 24px;
        }

        &__map {
            height: 320px;
            margin-bottom: 20px;
        }
    }

    #get3 {
        padding-top: 40px;

        .section__title {
            max-width: 40%;
            margin-bottom: 60px;
        }

        .form__title {
            font-size: 18px;
        }

        .attach {
            max-width: 280px;
            padding: 16px 10px 16px 46px;

            &::before {
                left: 10px;
            }
        }

        .cgroup__list {
            margin-bottom: 30px;
        }
    }

    .start {
        .container {
            padding-right: 0;
        }

        &__link {
            font-size: 160px;
            background: url(../img/icon-pen-xl.png) top right -235px/80% no-repeat;
            padding-top: 380px;
            margin-bottom: 250px;
        }
    }

    .footer {
        &__b {
            margin-bottom: 40px;

            &:nth-child(n) {
                max-width: 50%;
                align-self: flex-end;
            }

            &.prod {
                max-width: 100%;
            }

            &.policy {
                margin-bottom: 70px;
            }
        }

        &__adress {
            margin-bottom: 70px;
        }
    }
}

@media screen and (max-width: 719px) {
    .container {
        padding: 0 20px;
    }

    h1,
    .main__title {
        font-size: 32px;
        letter-spacing: -1px;
    }

    .section .section__title {
        max-width: none;
        letter-spacing: -1px;

        br {
            display: none;
        }
    }

    .section__desc {
        padding-right: 0;

        br {
            display: none;
        }
    }

    .slider {
        &__img {
            img {
                height: 100%;
            }
        }
    }

    .favproject {
        &._main {
            margin-bottom: 70px;
            overflow: visible;

            .favproject__b {
                max-width: 100%;
            }

            .slider__ctrl {
                top: 450px;
                left: -9px;
                right: auto;
            }
        }

        &__b {
            max-width: 100%;
        }
    }

    .premium {
        &__b {
            &>* {
                width: 100%;
                flex: 1 1 auto;
                max-width: 100%;
            }
        }

        &__feature {
            width: 50%;
            margin-right: -4px;

            .text__lg {
                font-size: 32px;
            }
        }

        &__text:not(:last-child) {
            margin-bottom: 40px;
        }

        &__img {
            img {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__media {
            display: none;

            .premium__info & {
                display: block;
                margin-bottom: 15px;
            }
        }
    }

    blockquote {
        font-size: 28px;
        font-weight: 700;
        line-height: 21px;
        padding: 0;

        &::before {
            position: relative;
        }
    }

    .quote {
        &__author {
            font-size: 14px;
        }
    }

    .get {
        .form {
            &__footer {
                button {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            }

            &__note {
                max-width: 100%;
                padding-left: 0;
            }

            .attach {
                padding: 16px 10px 16px 46px;

                &::before {
                    left: 8px;
                }
            }
        }
    }

    .features {
        &__item {
            max-width: none;
        }

        .slider {
            margin-bottom: 45px;

            &__ctrl {
                display: block;

            }
        }
    }

    .review {
        .person {
            padding-right: 0;
        }
    }

    .price {
        padding-bottom: 20px;
    }

    .brands {
        &__item {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .office {
        &__img {
            height: 260px;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    .contact {
        &__item:nth-child(n) {
            max-width: none;
            margin: 0 auto 25px;
        }

        &__value {
            letter-spacing: -0.5px;
        }

        &__map {
            height: 260px;
        }
    }

    #get3 .section__title {
        max-width: none;
        margin-bottom: 25px;
    }

    .cgroup {
        &__list {
            #get3 & {
                margin-bottom: 5px;
            }
        }

        &__item {
            margin-bottom: 15px;
        }
    }

    .start {
        &__link {
            font-size: 72px;
            padding-top: 260px;
            margin-bottom: 140px;
            background: url(../img/icon-pen-start.png) top -60px right no-repeat;
            background-size: 217px 302px;
        }
    }

    .footer__b:nth-child(n) {
        max-width: none;
        align-self: flex-start;
        margin-bottom: 20px;

        &._copy {
            order: 1;
            margin-bottom: 40px;
        }

        &.prod {
            order: 2;
        }
    }

    .sidebar.is-open .sidebar__nav,
    .sidebar.is-open .sidebar__social,
    .sidebar.is-open .sidebar__logo,
    .sidebar.is-open .sidebar__adress,
    .sidebar.is-open .sidebar__btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar.is-open .sidebar__list {
        margin-bottom: 30px;
    }

    .sidebar.is-open .sidebar__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .modal {
        &__title {
            font-size: 28px;
            font-weight: 700;
            line-height: 21px;

            .modal__content--first & {
                padding-right: 90px;
            }
        }

        &__content {
            padding-left: 20px;
            padding-right: 20px;

            &--first {
                background: #fff url(../img/icon-pen-lg.png) top -60px right -110px no-repeat;

                .close {
                    top: 86px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .premium {
        &__img {
            img {
                width: auto;
            }
        }
    }

}

/* END Styling Media */