.office {
    .section__title {
        max-width: none;
        color: #ffbf61;
    }
    .section__desc {
        margin-left: 0;
        margin-right: auto;
    }
    &__img {
        height: 365px;
        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }
}