.wrapper {
    overflow: hidden;
}

/*price*/
$priceGap: 16px;
$priceCol: 3;

.price {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-left: $priceGap/-2;
        margin-right: $priceGap/-2;
    }

    &__item {
        width: 100%;
        flex: 1 1 auto;
        max-width: 100%/$priceCol;
        padding-left: $priceGap/2;
        padding-right: $priceGap/2;
    }
}

.rate {
    position: relative;
    background-color: #f3f0f0;
    padding: 30px 20px;

    >*:not(:last-child) {
        border-bottom: 2px solid #000000;
    }

    &__head {
        padding-bottom: 30px;
    }

    &__body {
        padding: 20px 0;
    }

    &__footer {
        padding-top: 30px;
    }

    &__title {
        margin-bottom: 10px;

        &::after {
            display: none;
            position: absolute;
            top: 5px;
            right: 0;
            vertical-align: top;
            content: "";
            background: url(../img/droparrow.png) center/contain no-repeat;
            width: 20px;
            height: 20px;
            line-height: 20px;
            transform-origin: 50% 50%;

            .rate.hit & {
                background: url(../img/droparrow-black.png) center/contain no-repeat;
            }
            .rate__head.active & {
                transform: rotate(180deg);
            }
        }
    }

    &__meta {
        color: #000000;
        font-family: "Montserrat";
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
    }

    &__step {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__bonus {
        position: relative;
        padding-left: 30px;

        &::before {
            position: absolute;
            top: 2px;
            left: 0;
            content: url(../img/crown-black.png);
            width: 18px;
            height: 15px;
        }
    }

    &.hit {
        background-color: #403937;
        overflow: hidden;

        &::before {
            display: table;
            vertical-align: bottom;
            position: absolute;
            top: -14px;
            right: -33px;
            content: "Хит";
            color: #403937;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 800;
            text-align: center;
            width: 93px;
            height: 55px;
            background-color: #ffbf61;
            transform: rotate(45deg);
            padding-top: 30px;
        }

        * {
            color: #fff;
        }

        .rate__bonus {
            &::before {
                content: url(../img/crown.png)
            }
        }

        >*:not(:last-child) {
            border-bottom: 2px solid #ffffff;
        }
    }

    &__btn {
        max-width: 100%;
    }
}