/* Styling review */
.review {
    &__item {
        &:nth-child(even) {
            padding-top: 290px;
        }
    }

    .slider {
        &__ctrl {
            top: 0;
            right: 25%;
            transform: translateY(0) translateX(100%);
        }
    }

    .person {
        padding-right: 20px;

        &__img {
            width: 160px;
            height: 160px;
            background-color: #ffab86;
            padding-top: 0;

            img {
                width: auto;
            }
        }

        &__name {
            font-size: 28px;
            line-height: 22px;
        }
    }
}