/* Styling steps */
.steps {
    .section__title {
        max-width: 50%;
    }
    &__b {
        &>*:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__item {
        position: relative;
        max-width: 50%;

        &::before {
            content: '●';
            position: absolute;
            width: 3px;
            height: 100%;
            background-color: #ffbf61;
            color: #ffbf61;
            font-size: 38px;
            line-height: 4.9;
            text-indent: -10px;

            .steps__list.type-2 & {
                color: #b9081e;
                background-color: #b9081e;
            }
        }

        &:first-child {
            $beforeTop: 87px;

            &::before {
                top: $beforeTop;
                height: calc(100% - #{$beforeTop});
                line-height: 0.4;
            }
        }

        &:nth-child(odd) {
            text-align: right;
            padding-right: 45px;

            &::before {
                right: 0;
            }

            .steps__list.type-2 & {
                text-align: left;
                padding-left: 45px;
                padding-right: 0;
                margin-left: auto;

                &::before {
                    left: -3px;
                }
            }
        }

        &:nth-child(even) {
            padding-left: 45px;
            margin-left: auto;

            &::before {
                left: -3px;
            }

            .steps__list.type-2 & {
                text-align: right;
                padding-right: 45px;
                padding-left: 0;
                margin-left: 0;

                &::before {
                    right: 0;
                    left: auto;
                }
            }
        }
    }

    &__num {
        color: #ffbf61;
        font-family: "Montserrat";
        font-size: 80px;
        font-weight: 700;
        line-height: 0.8;
        margin-bottom: 20px;

        .steps__list.type-2 & {
            color: #b9081e;
        }
    }

    &__order {
        max-width: 400px;
        font-family: "Montserrat";
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        color: #000;
        margin: 0 auto;

        a {
            color: #ffbf61;
            font-family: "Montserrat";
            font-size: 28px;
            font-weight: 700;
            line-height: 32px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__footer {
        text-align: center;
    }
}