/* Styling ui */
.btn {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 320px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    user-select: none;
    padding: 19px;
    cursor: pointer;

    &--1 {
        color: white;
        background-color: #ae0d21;

        &:hover {
            color: white;
            background-color: #a00c1e;
        }
    }

    &--2 {
        color: #242222;
        background-color: #ffbe63;

        &:hover {
            color: #242222;
            background-color: #ffb145;
        }
    }
}

.attach {
    @include truncate(320px);
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 16px 16px 65px;
    border: 1px solid #000000;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translate(0, -50%);
        width: 30px;
        height: 24px;
        background: url('../img/icon-attach.png') center/contain no-repeat;
    }

    &:hover {
        border: 1px solid #aa081c;
    }

    [type=file] {
        display: none;
    }
}

$formBodyWidth: 50%;

.form {

    &__input {
        position: relative;
        margin: 20px 0 40px;

        label {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            opacity: 0;
            transition: 0.3s;
        }

        &.error {
            input {
                @include input-placeholder {
                    color: #f63635;
                }
            }
        }
    }

    &__body {
        max-width: $formBodyWidth;
    }

    &__note {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #7f7f7f;
        margin-top: 25px;

        a {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: #469aff;

            &:hover {
                color: #f63635;
            }
        }
    }

    &__desc {
        max-width: 50%;
        margin-left: auto;
    }
}

.socials {
    a {
        display: inline-block;
        vertical-align: middle;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        margin-right: 40px;

        a {
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
        }
    }

    .vk {
        width: 21px;
        height: 12px;
        background-position: 0px -34px;

        &:hover {
            background-position: -16px -18px;
        }
    }

    .insta {
        width: 16px;
        height: 16px;
        background-position: 0px -18px;

        &:hover {
            background-position: -30px 0px;
        }
    }

    .share {
        width: 15px;
        height: 18px;
        background-position: -15px 0px;

        &:hover {
            background-position: 0px 0px;
        }
    }

    .ya-share2 {
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        transition: ease-in-out 0.6s;
        overflow: hidden;
        background: #fff;
        z-index: 1;

        .ya-share2__list_direction_horizontal>.ya-share2__item {
            vertical-align: middle;
        }

        &__list {
            white-space: nowrap;
        }

        &__item {
            vertical-align: middle;

            .sidebar__social & {
                margin-bottom: 5px;
            }

            .ya-share2__link {
                background: transparent;
            }

            &_service_vkontakte {
                .ya-share2__icon {
                    vertical-align: middle;
                    width: 21px;
                    height: 12px;
                    background-position: 0px -34px;
                    background-image: url(../img/sprite.png);
                    background-repeat: no-repeat;

                    &:hover {
                        background-position: -16px -18px;
                    }
                }

                .ya-share2__badge {
                    background: transparent;
                }
            }

            &_service_facebook {
                .ya-share2__badge {
                    background: transparent;
                }

                .ya-share2__icon {
                    position: relative;
                    text-align: center;

                    &:before {
                        display: inline-block;
                        font-family: "Font Awesome 5 Brands";
                        font-size: 24px;
                        color: #685959;
                        content: '\f09a';
                        line-height: 1;
                    }
                }
            }

            &_service_odnoklassniki {
                .ya-share2__badge {
                    background: transparent;
                }

                .ya-share2__icon {
                    position: relative;
                    text-align: center;

                    &:before {
                        display: inline-block;
                        font-family: "Font Awesome 5 Brands";
                        font-size: 24px;
                        color: #685959;
                        content: '\f264';
                        line-height: 1;
                    }
                }
            }

            &:hover {
                opacity: 1;

                .ya-share2__icon {
                    &::before {
                        color: #ffbe63;
                    }
                }
            }
        }

        &__icon:active {
            box-shadow: none;
            outline: none;
        }
    }

    &__share {
        position: relative;

        &:hover {
            .ya-share2 {
                left: 0;
                opacity: 1;
            }
        }
    }
}

.cgroup {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        margin-right: 15px;

        a {
            display: block;
            color: #293e54;
            border: 1px solid #000000;
            padding: 5px 10px;
        }

        &._checked {
            a {
                background-color: #ffbf61;
                border: 1px solid #ffbf61;
            }
        }
    }
}

.close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icon-close.png) center no-repeat;
}

.error {
    &__message {
        display: none;
        align-items: center;
        min-height: 100px;
        background: url(../img/modal-submit-bg.png) top left no-repeat;
        padding-left: 130px;

        p {
            margin-right: -55px;
        }
    }

    .error__message {
        display: flex;
    }
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;

    img {
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(#000000, 0.7);
    z-index: 1000;
    overflow: hidden;
    overflow-y: auto;

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__content {
        position: relative;
        width: 100%;
        max-width: 640px;
        margin: 50px auto;
        padding: 40px;
        background-color: #fff;
        // box-shadow: 0 3px 6.4px 0.6px #e3e3e3;

        &--first {
            background: #fff url(../img/icon-pen-lg.png) top -45px right -100px no-repeat;
            padding-right: 145px;

            .close {
                top: 95px;
                right: 20px;
            }

            form {
                max-width: 320px;
            }
        }

        &--second,
        &--error {
            padding: 40px 20px;

            .modal__head,
            .modal__body {
                max-width: 280px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &--success {
            text-align: center;
            background: #fff url(../img/modal-submit-bg.png) top 60px center no-repeat;
            padding-top: 180px;
        }
    }

    &__head {
        margin-bottom: 30px;
    }

    &__title {
        .error & {
            display: none;
        }
    }
}

/* slider */
.slider {
    position: relative;

    &__ctrl {
        position: absolute;
        right: 218px;
        top: 500px;
        transform: translateY(-100%);
        z-index: 10;

        .arrows {
            display: flex;

            &__item {
                width: 60px;
                height: 60px;
                background: #fff url(../img/icon-arrow.png) center no-repeat;

                &.right {
                    transform: rotate(180deg);
                }
            }
        }

        .counter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__img {
        display: block;
        position: relative;
        height: 500px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .zoom {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 88px;
            height: 88px;
            background: url(../img/icon-zoom.png) center/cover no-repeat;
            z-index: 10;
        }

        &:hover {
            .zoom {
                display: block;
            }
        }
    }

    &__item {
        position: relative;
    }

    .slick-dots {
        bottom: auto;
        top: 285px;

        li {
            margin: 0;

            button {
                &:before {
                    color: #fff;
                    opacity: 0.8;
                }
            }

            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .favproject._main & {
            display: none !important;
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

/* favproject */
%col {
    width: 100%;
    flex: 1 1 auto;
}

.favproject {
    overflow: hidden;
    padding-bottom: 43px;
    border-bottom: 2px solid #000000;

    &__wrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    &__slider {
        @extend %col;
        position: relative;
        max-width: 100%;
        margin-bottom: 15px;
    }

    &__b {
        @extend %col;
        max-width: 50%;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &._caption {
            margin-left: auto;
            padding: 15px 0;
        }

        &._title {
            position: absolute;
            left: 0;
            top: 500px;
            z-index: 10;
            padding: 15px 0;
        }

        .favproject._main & {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: 0 auto;
        }
    }

    &__title {
        max-width: 320px;
    }

    &__caption {
        margin-bottom: 25px;
    }

    &._main {
        border-bottom: none;
        padding-bottom: 20px;

        .favproject__wrap {
            justify-content: center;
        }

        .favproject__caption {
            max-width: 50%;
        }

        .favproject__slider {
            .slider__img {
                margin-bottom: 70px;
            }
        }

    }

    &__btn {
        max-width: 50%;
    }
}

.pen {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    max-width: 100%;
    height: 60px;
    text-align: left;
    background: url(../img/icon-pen-lg.png) bottom 3px right -55px/68% no-repeat;

    .pen__text {
        position: absolute;
        left: 0;
        bottom: 0;
        line-height: 1;
    }
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 182px;
    height: 37px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.phone {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background: url(../img/icon-phone.png) center/auto 100% no-repeat;

    &[href*="tel:"] {
        overflow: visible;
    }

    &::before {
        display: none;
        position: absolute;
        width: 182px;
        top: 50%;
        left: -182px;
        transform: translate(0, -50%);
        content: attr(data-href);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        color: #434343;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
        background-color: #fff;
        padding: 10px 15px;
    }

    &:hover {
        &::before {
            display: block;
        }
    }
}

/*person*/
.person {
    p {
        font-size: 14px;
        line-height: 21px;
    }

    &__status,
    &__img {
        margin-bottom: 30px;
    }

    &__img {
        position: relative;
        overflow: hidden;
        padding-top: 100%;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
    }

    &__desc {
        font-weight: 700;
    }
}

/*blockquote*/
.quote {
    border-bottom: 4px solid #000000;
    border-top: 4px solid #000000;
    padding: 40px 0;

    &__text {
        margin-bottom: 15px;
    }

    &__author {
        color: #000000;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
    }
}

/* END Styling ui */