/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-insta-hover {
  background-image: url(sprite.png);
  background-position: -30px 0px;
  width: 16px;
  height: 16px;
}
.icon-insta {
  background-image: url(sprite.png);
  background-position: 0px -18px;
  width: 16px;
  height: 16px;
}
.icon-share-hover {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 15px;
  height: 18px;
}
.icon-share {
  background-image: url(sprite.png);
  background-position: -15px 0px;
  width: 15px;
  height: 18px;
}
.icon-vk-hover {
  background-image: url(sprite.png);
  background-position: -16px -18px;
  width: 21px;
  height: 12px;
}
.icon-vk {
  background-image: url(sprite.png);
  background-position: 0px -34px;
  width: 21px;
  height: 12px;
}
