@import "mixins";
@import "fonts";

body {
    color: #242424;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    &._modal-open {
        overflow: hidden;
    }
}

h1 {
    color: #000000;
    font-family: "Montserrat";
    font-size: 84px;
    font-weight: 800;
    line-height: 60px;
    margin: 0 0 35px;
}

h2 {
    color: #ffbf61;
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 35px;
}

h3 {
    color: #000000;
    font-family: "Montserrat";
    font-size: 45px;
    font-weight: 700;
    line-height: 35px;
    margin: 0 0 25px;
}

h4 {
    color: #000000;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 0 15px;
}

h5 {
    color: #000000;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 0 15px;
}

p {
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    color: #0061e8;
    text-decoration: none;

    &:hover,
    &.active {
        color: #f63635;
        text-decoration: none;
    }

    &[href*="tel:"],
    &[href*="mailto:"] {
        @include truncate(100%);
        color: #434343;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: #0061e8;
        }
    }
}

label {
    color: #606060;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

input {
    width: 100%;
    height: 42px;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 12px 0;
    background-color: transparent;

    @include input-placeholder {
        color: #606060;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 400;
        transition: opacity 0.6s ease;
    }

    &:focus,
    &:active {
        outline: none;
        border-bottom: 2px solid #000000;
    }

    &:focus {
        &+label {
            top: 0;
            transform: translate(0, -100%);
            font-size: 14px;
            opacity: 1;
        }

        @include input-placeholder {
            opacity: 0;
        }
    }
}

button {
    border: none;
    outline: none;
    appearance: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

blockquote {
    position: relative;
    color: #000000;
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 800;
    line-height: 60px;
    margin: 0;
    padding: 0 40px;

    &::before {
        position: absolute;
        content: '«';
        top: 0;
        left: 0;
    }

    &::after {
        position: relative;
        content: '»';
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.bg-lines {
    display: flex;
    position: fixed;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__line {
        height: 100vh;
        position: relative;
        overflow: hidden;
        border-right: 1px solid rgba(0, 0, 0, .08);
        z-index: 0;
        width: 100%;
        flex: 1 1 auto;
        max-width: (100%/6);
    }
}

@import "ui";
@import "header";
@import "main";
@import "footer";
@import "media";
@import "fix";